html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Monda', sans-serif;
    --hccri-red: #690B0B;
    --hccri-yellow: #CAA213;
}

.hero,
.hero-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.hero-head {
    height: calc(100vh - 3rem);
    min-height: 700px;

    background: linear-gradient(to bottom, #ffffff75,#ffffff87, #ffffffee, #ffffffff),
        url(static/photos/group-photog.jpg) no-repeat center center/cover;
}

.red-nav-s {
    background-color: var(--hccri-red);
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.red-nav-s>*{
    padding-top: 1.5rem;
    padding-left: calc(1rem + 20px);
}

.red-nav-s>a:first-of-type{
    font-size: 1.7rem;
    padding: 0;
    padding-left: calc(1rem + 20px);
    padding-top: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.nav-link-wrapper>.nav-link {
    padding: 0;
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--hccri-yellow);
    text-decoration: none;
}

.red-nav-m {
    background-color: var(--hccri-red);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
}
.red-nav-m>*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

#side-open:hover{
    cursor: pointer;
}

.hero-head-content {
    width: 30rem;
    margin: 0 auto;
    padding: 3rem;
}

.hero-main-content {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 3rem;
    display: flex;
}

.hero-main-content-left {
    width: 70%;
    padding: 0 2rem;

}

.hero-main-content-right {
    width: 30%;
    padding: 0 2rem;
    align-items: flex-start;
}

.hero-main-content-photo {
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
}

.hero-text {
    text-align: justify;
    font-size: 1rem;
}

.hccri-logo {
    width: 70%;
    height: auto;
}

.hide {
    top: -5rem;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: block;
    height: 0;
    overflow: hidden;
    background-color: #480808;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px;
    z-index: 2;
    border-radius: .5rem;
    transition-duration: 0.4s;
}

.dropdown:hover .dropdown-content {
    height: auto;
    padding: 12px 16px;
    margin-top: 10px;
    margin-right: 20px;
}

.footer{
    width: calc(100% - 100px);
    margin: 0;
    padding: 50px;
    background-color: var(--hccri-red);
    color: white;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer-icons>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.footer-icons>div>span{
    display: inline-block;
    padding-left: 5px;
    padding-right: 40px;
}
.footer-small{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .footer-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}