html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Monda', sans-serif;
    --hccri-red: #690B0B;
    --hccri-yellow: #CAA213;
}

.hero,
.hero-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.hero-head {
    height: calc(100vh - 3rem);
    min-height: 700px;

    background: linear-gradient(to bottom, #ffffff75, #ffffff87, #ffffffee, #ffffffff),
        url(static/photos/group-photog.jpg) no-repeat center center/cover;
}

/* dedicated backgrounds for each subpage */
.hero-head.about-hacas {
    background: linear-gradient(to bottom, #ffffff75, #ffffff87, #ffffffee, #ffffffff),
        url(static/photos/hacas.webp) no-repeat center center/cover;
}

.hero-head.about-hccri {
    background: linear-gradient(to bottom, #ffffff75, #ffffff87, #ffffffee, #ffffffff),
        url(static/photos/_W-98.jpeg) no-repeat center center/cover;
}

.hero-head.about-secretariat {}

.hero-head.registration {}

.hero-head.faq {}

.red-nav-s {
    background-color: var(--hccri-red);
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.red-nav-s>* {
    padding-top: 1.5rem;
    padding-left: calc(1rem + 20px);
}

.red-nav-s>a:first-of-type {
    font-size: 1.7rem;
    padding: 0;
    padding-left: calc(1rem + 20px);
    padding-top: 5px;
}

.nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.nav-link-wrapper>.nav-link {
    padding: 0;
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--hccri-yellow);
    text-decoration: none;
}

.red-nav-m {
    background-color: var(--hccri-red);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
}

.red-nav-m>* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

#side-open:hover {
    cursor: pointer;
}

.hero-head-content {
    width: 30rem;
    margin: 0 auto;
    padding: 3rem;
}

.hero-main-content {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.hero-main-content-left {
    padding: 0 2rem;
    flex-grow: 7;
}

.hero-main-content-right {
    padding: 0 2rem;
    align-items: flex-start;
    flex-grow: 3;
}

@media screen and (max-width: 768px) {
    .hero-main-content {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .hero-main-content-left,
    .hero-main-content-right {
        width: fit-content;
        padding: 0;
    }
}

.hero-main-content-photo {
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
}

.hero-text {
    text-align: justify;
    font-size: 1rem;
}

.hccri-logo {
    width: 70%;
    height: auto;
}

.hide {
    top: -5rem;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 1.5rem;
    }
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: block;
    height: 0;
    overflow: hidden;
    background-color: #480808;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px;
    z-index: 2;
    border-radius: .5rem;
    transition-duration: 0.4s;
}

.dropdown:hover .dropdown-content {
    height: auto;
    padding: 12px 16px;
    margin-top: 10px;
    margin-right: 20px;
}

.footer {
    width: calc(100% - 100px);
    margin: 0;
    padding: 50px;
    background-color: var(--hccri-red);
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-icons>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-icons>div>span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    .footer-icons>div>span {
        padding-right: 0;
    }
}

.footer-small {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .hero-main-content {
        flex-direction: column-reverse;
    }

    .hero-main-content>div {
        padding: 0;
        width: auto;
    }

    .hero-main-content-right {
        width: 100%;
        position: static;
        padding-bottom: 20px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-icons>* {
        width: 100%;
    }

    .footer-icons>div {
        justify-content: flex-start;
    }

    .footer-icons>div>span {
        padding-right: 0;
    }
}

#countdown {
    background-color: #690B0B;
    color: white;
    position: relative;
}

#countdown>h1 {
    padding: 20px;
}

#countdown>a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #690B0B;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    outline-width: 0;
}

/* table on registration page */

.reg-table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.reg-table thead tr {
    background-color: var(--hccri-red);
    color: #ffffff;
    text-align: left;
}

.reg-table th,
.reg-table td {
    padding: 12px 15px;
    text-align: left;
}

.reg-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.reg-table thead tr th {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.reg-table tbody tr td {
    border-right: 1px solid #dddddd;
}

.reg-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* faq sections on faq page */
.faq-container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid var(--hccri-red);
}

.accordion button {
    position: relative;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion button iconify-icon {
    transition: all 0.3s ease-in-out;
}

.accordion button:hover {
    cursor: pointer;
    color: var(--hccri-red);
    transition: all 0.3s ease-in-out;
}

.accordion button[aria-expanded='true'] {
    color: var(--hccri-red);
}

.accordion button[aria-expanded='true'] iconify-icon {
    transform: rotate(180deg);
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
}